@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TonyApp.Models
@using TonyApp.Data
@using DevExpress.Data.Linq
@inject IDbContextFactory<TonyApp.Data.MyAppDbContext> DbFactory
@rendermode InteractiveServer
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create" class="btn btn-primary">Create New</a>
</p>

<DxGrid Data="@InstantFeedbackSource"
        CssClass="table"
        KeyFieldName="Id"
        Height="600px"
        ShowGroupPanel="true"
        ShowFilterRow="true"
        EditMode="GridEditMode.EditRow"
        EditModelSaving="OnEditModelSaving"
        DataItemDeleting="OnDataItemDeleting"
        VirtualScrollingMode="GridVirtualScrollingMode.Rows"
        VirtualScrollingEnabled="VirtualScrollingEnabled" PageSize="25"
        VirtualScrollMaxRequestItems="500"
        SkeletonRowsEnabled="true">

    <Columns>
        <DxGridCommandColumn Width="100px" />
        <DxGridDataColumn FieldName="Name" Caption="Name" />
        <DxGridDataColumn FieldName="Price" Caption="Price" DisplayFormat="c2" />
        <DxGridDataColumn FieldName="Qty" Caption="Qty" />

        <DxGridDataColumn Caption="Actions"
                          Width="300px" >
            <CellDisplayTemplate Context="cellContext">
                @{
                    var id = cellContext.Grid.GetDataItemValue(cellContext.DataItem, "Id");
                }
                <a href="@($"products/edit?id={id}")" class="btn btn-info">Edit</a> |
                <a href="@($"products/details?id={id}")" class="btn btn-success">Details</a> |
                <a href="@($"products/delete?id={id}")" class="btn btn-danger">Delete</a>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>

    <ToolbarTemplate>
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <Items>
                <DxToolbarItem BeginGroup="true" Alignment="ToolbarItemAlignment.Left">
                    <Template Context="toolbar_item_context">
                        <div class="d-flex flex-row align-items-center h-100">
                            <DxCheckBox @bind-Checked="VirtualScrollingEnabled">Enable Virtual Scrolling</DxCheckBox>
                        </div>
                    </Template>
                </DxToolbarItem>
            </Items>
        </DxToolbar>
    </ToolbarTemplate>

</DxGrid>

@code {
    EntityInstantFeedbackSource InstantFeedbackSource { get; set; }

    bool VirtualScrollingEnabled { get; set; } = true;

    protected override void OnInitialized()
    {
        InstantFeedbackSource = new EntityInstantFeedbackSource(e =>
        {
            var context = DbFactory.CreateDbContext();

            e.KeyExpression = "Id";
            e.QueryableSource = context.Product
                                       .AsNoTracking()
                                       .OrderBy(p => p.Id);

            e.Tag = context;
        });

    }

    async Task OnDataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var id = (Guid)e.Grid.GetDataItemValue(e.DataItem, "Id"); // safe access

        await using var context = await DbFactory.CreateDbContextAsync();

        var entity = await context.Product.FindAsync(id);

        if (entity != null)
        {
            context.Remove(entity);
            await context.SaveChangesAsync();
        }
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (Product)e.EditModel;
        await using var context = await DbFactory.CreateDbContextAsync();

        Product entity;

        if (e.IsNew)
        {
            entity = new Product()
            {
                Id = Guid.NewGuid()   // ✅ generate Guid
            };
            context.Product.Add(entity);
        }

        else
        {
            var key = ((Product)e.DataItem).Id;
            entity = await context.Product.FindAsync(key);

            if (entity == null) return;
        }

        entity.Name = editModel.Name;
        entity.Price = editModel.Price;
        entity.Qty = editModel.Qty;

        await context.SaveChangesAsync();
    }

    public void Dispose()
    {
        InstantFeedbackSource?.Dispose();
    }
}
