@rendermode InteractiveServer
@using TonyApp.Components.Data

@page "/index"

@inject WeatherForecastService ForecastService

<DxGrid Data="@Data"
        ShowGroupPanel="true"
        ShowFilterRow="true" 
        EditMode="GridEditMode.EditRow" 
        EditModelSaving="OnEditModelSaving"
        DataItemDeleting="OnDataItemDeleting"
        VirtualScrollingMode="GridVirtualScrollingMode.RowsAndColumns"
        VirtualScrollingEnabled="VirtualScrollingEnabled" PageSize="10"
        SkeletonRowsEnabled="true">
    <Columns>
        <DxGridCommandColumn Width="150px" />
        <DxGridDataColumn FieldName="Date" DisplayFormat="yyyy/MM/dd">
            <EditSettings>
                <DxDateEditSettings Format="yyyy/MM/dd" />
            </EditSettings>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="Forecast" 
                          />
        <DxGridDataColumn FieldName="CloudCover" 
                          Width="120px"
                          SortOrder="GridColumnSortOrder.Descending"
                          SortIndex="1" />
        <DxGridDataColumn FieldName="TemperatureC" Caption="Temperature" 
                          Width="120px"
                          SortOrder="GridColumnSortOrder.Ascending"
                          SortIndex="0" />
    </Columns>
    <ToolbarTemplate>
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <Items>
                <DxToolbarItem BeginGroup="true" Alignment="ToolbarItemAlignment.Left">
                    <Template Context="toolbar_item_context">
                        <div class="d-flex flex-row align-items-center h-100">
                            <DxCheckBox @bind-Checked="VirtualScrollingEnabled">Enable Virtual Scrolling</DxCheckBox>
                        </div>
                    </Template>
                </DxToolbarItem>
            </Items>
        </DxToolbar>
    </ToolbarTemplate>
    <TotalSummary>
        <DxGridSummaryItem FieldName="Date"
                           SummaryType=GridSummaryItemType.Min
                           ValueDisplayFormat="D" />
        <DxGridSummaryItem FooterColumnName="TemperatureC"
                           SummaryType=GridSummaryItemType.Count />
    </TotalSummary>
</DxGrid>

@code {
    bool VirtualScrollingEnabled { get; set; } = true;
    List<WeatherForecast> Data { get; set; }

    protected override void OnInitialized()
    {
        Data = ForecastService.GetForecast();
    }

    void OnDataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        Data.Remove(e.DataItem as WeatherForecast);
    }

    void OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (WeatherForecast)e.EditModel;
        var dataItem = e.IsNew ? new WeatherForecast() : (WeatherForecast)e.DataItem;
        dataItem.Forecast = editModel.Forecast;
        dataItem.Date = editModel.Date;
        dataItem.TemperatureC = editModel.TemperatureC;
        dataItem.CloudCover = editModel.CloudCover;

        if (e.IsNew)
            Data.Add(dataItem as WeatherForecast);
    }
}